@import '../../../bower_components/materialize/sass/materialize';
@import '../../../bower_components/material-design-icons/iconfont/material-icons.css';
@import '../../../bower_components/angular-material/angular-material.scss';

 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}


.eventButton {
  text-align: center;
  display: block;
  font-size: 20px;
  border: solid beige;
  background-color: #0288d1;
  color: white;
}


@media  screen and (max-width: 1700px) {
  .image-responsive {
    height: 200px;
    width: 100%;
    display: flex;
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 1000px) {
  .image-responsive {
    height: 150px;
    width: 100%;
    display: flex;
    flex: 0 0 100%;
  }
}



// @media only screen and (min-width: 600px) {
//   .image-responsive {
//     height: 100px;
//     width: 50%;
//     display: flex;
//     flex: 0 0 100%;
//   }
// }