@import '../../../bower_components/materialize/sass/materialize';
@import '../../../bower_components/material-design-icons/iconfont/material-icons.css';
@import '../../../bower_components/angular-material/angular-material.scss';

 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}


.eventButton {
  text-align: center;
  display: block;
  font-size: 20px;
  border: solid beige;
  background-color: #0288d1;
  color: white;
}

.start-hidden {
  pointer-events: none;
  opacity: 0.6;
}

.card-description {
  display: block;
  text-align: center;
}
@media  screen and (max-width: 1700px) {
  .image-responsive {
    height: 200px;
    width: 100%;
    display: flex;
    flex: 0 0 100%;
  }
  .title-card {
    text-align: center;
    font-size: 30px;
  }
  .card-balada {
    padding: 0px 30px;
    height: 54px;
    margin-bottom: 4px;
  }
  .card-balada-bottom {
    text-align: center;
    padding-left: 30px;
  }
  .icon-balada-bottom {
    padding: 0px 10px;
  }
 
}

@media screen and (max-width: 1000px) {
  .image-responsive {
    height: 150px;
    width: 100%;
    display: flex;
    flex: 0 0 100%;
  }
  .title-card {
    text-align: center;
    font-size: 26px;
  }
  .card-balada {
    padding-left: 30px;
    height: 5px;
  }
  .card-balada-bottom {
    text-align: center;
    padding-left: 30px;
  }
  .icon-balada-bottom {
    padding: 0px 10px;
  }
  .card-description {
    display: none
  }
}

@media screen and (max-width: 500px) {
  .title-card {
    padding-top: 10px;
    text-align: center;
    font-size: 14.5px;
  }
  .card-balada {
    padding-left: 5px;
    height: 8px;
  }
  .card-balada-bottom {
    text-align: center;
    padding-left: 0px;
  }
  .icon-balada-bottom {
    padding: 0px 4px;
  }
  .card-description {
    display: none
  }
}

// @media only screen and (min-width: 600px) {
//   .image-responsive {
//     height: 100px;
//     width: 50%;
//     display: flex;
//     flex: 0 0 100%;
//   }
// }