<nav class="light-blue darken-2">
  <div class="nav-wrapper ">
    <a ui-sref="login" class="brand-logo center">Nuflow</a>
  </div>
</nav>

<div class="row">
  <div class="col offset-l3 l6 offset-m3 m6 s12">
    <div class="card hoverable /*animated bounceIn*/">
      <div class="row">
        <div class="col l12 m12 s12 center">
          <div class="card-content">
            <form method="post" ng-submit="vm.login()">
              <div class="input-field ">
                <i class="material-icons prefix">account_box</i>
                <input id="email" type="email" name="email" ng-model="vm.auth.email" class="validate" required>
                <label for="email">Email</label>
              </div>
              <div class="input-field ">
                <i class="material-icons prefix">https</i>
                <input id="password" ng-model="vm.auth.password" type="password" class="validate" required>
                <label for="password">Password</label>
              </div>
              <div class="col l12 m12 s12 center">
                <div class="col l6 m6 s6">
                  <button type="submit" class="btn-large waves-effect waves-light light-blue darken-2">Login</button>
                </div>
                <div class="col l6 m6 s6">
                  <button type="button" ng-click="vm.authenticate('facebook')" class=" btn-large waves-effect btn-flat">Facebook</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l12 m12 s12 center">
          <div class="card-action">

            <span>Ainda não é usuario?</span>
            <a ui-sref="init.regiterUser" class="blue-text text-darken-2">Cadastre-se no Nuflow</a>
            <a ui-sref="init.registerCompany" class="blue-text text-darken-2">Cadastre sua empresa no Nuflow</a>
            <br />

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
