<div class="row">
    <div class="col offset-l1 l10 m12 s12">
        <div class="card">
            <div class="card-content" style="padding: 10px 20px 10px 86px">
                <input type="text" ng-model="vm.events.item.name" style="width: 70%;" placeholder="Procurar eventos" />
                <button type="button" ng-click="vm.post()" style="margin-top: 12px;" class="btn waves-effect waves-light light-blue darken-2">Criar Evento</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col offset-l2 offset-m1  l7 m10 s12">
        <div ng-repeat="item in vm.events | filter: vm.events.item.name track by $index">
            <div class="card row animated zoomIn">
                <div class="col l6 s7 m6" style="padding: 0px 0px ">
                    <img class="image-responsive" ng-src="{{item.banner || '../../libs/img/location.jpg' }}">
                </div>
                <div class="card-content col l6 s5 m6" style="padding: 0px">
                    <P class="event-title">{{item.name}}</P>
                    <div class="event-content">   
                        <p>Tipos de Evento:
                            <span style="color: blue" ng-repeat="type in item.type">
                            {{type}}
                        </span>
                        </p>
                        <p>Data: {{item.dateEvent}}</p>
                        <p class="event-none">Descrição: {{item.description}}</p>
                        <p class="event-none">Artistas:
                            <span style="color: blue" ng-repeat="artist in item.artists">
                                    {{artist}}
                                </span>
                        </p>
                    </div>
                <div style="display:block;padding: 0px;">
                    <a class="eventButton col l6 s6 m6" ui-sref="main.event.edit({ eventId: '{{item._id}}' })">Editar</a>
                    <a class="eventButton col l6 s6 m6" ui-sref="main.event.delete({ eventId: '{{item._id}}' })">Deletar</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
