<div class="row container">
    <div class="col l12 m12 s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title activator flow-text center blue-text text-darken-2">Banner</span>
                <form ng-submit="vm.uploadBanner()" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col l12 m12 s12 center">
                            <img style="width: 50%" ng-src="{{vm.event.banner || '../../libs/img/padrao.png'}}">
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn light-blue darken-2">
                            <span>Banner</span>
                            <input type="file" ngf-select ng-model="vm.event.file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one photo">
                        </div>
                    </div>
                    <div class="center">
                        <button type="submit" ng-disabled="!vm.event.file" class="btn waves-effect waves-light light-blue darken-2">Atualizar Banner</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row container">
    <div class="col l12 m12 s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title activator flow-text center blue-text text-darken-2">Atualizar Eventos</span>
                <form ng-submit="vm.put()" enctype="multipart/form-data">
                    <div class="input-field col l6 m6 s6">
                        <label class="control-label">Nome</label>
                        <input type="text" ng-model="vm.event.name" />
                    </div>
                    <div class="input-field col l6 m6 s6">
                        <select ng-model="vm.event.type" material-select multiple watch>
                            <option value="" disabled selected>Exemplo: Rock</option>
                            <option value="rock">Rock</option>
                            <option value="pop">Pop</option>
                            <option value="funk">Funk</option>
                        </select>
                        <label>Tipo de evento</label>
                    </div>
                    <div class="input-field col l6 m6 s6">
                        <label for="inputCreated">Data do evento</label>
                        <input input-date type="text" name="created" id="inputCreated" ng-model="vm.event.dateEvent" container="" format="dd/mm/yyyy"
                            months-full="{{ vm.date.month }}" months-short="{{ vm.date.monthShort }}" weekdays-full="{{ vm.date.weekdaysFull }}"
                            weekdays-short="{{ vm.date.weekdaysShort }}" weekdays-letter="{{ vm.date.weekdaysLetter }}" disable="disable"
                            vm.date.min="{{ vm.date.minDate }}" vm.date.max="{{ vm.date.maxDate }}" vm.date.today="hoje" first-day="1"
                            vm.date.clear="limpar" vm.date.close="fechar" select-years="15" on-start="vm.onStart()" on-render="vm.onRender()"
                            on-open="vm.onOpen()" on-close="vm.onClose()" on-set="vm.onSet()" on-stop="vm.onStop()" />
                    </div>

                    <div class="input-field col l6 m6 s6">
                        <label class="control-label">Artistas</label>
                        <input type="text" ng-model="vm.event.artists" />
                    </div>
                    <div class="input-field col l6 m6 s6">
                        <label class="control-label">descrição do evento</label>
                        <input type="text" ng-model="vm.event.description" />
                    </div>
                    <div class="input-field col l6 m6 s6">
                        <label class="control-label">Preço do evento</label>
                        <input type="number" ng-model="vm.event.price" />
                    </div>

                    <div class="center">
                        <button type="submit" ng-disabled="!vm.event.price" class="btn waves-effect waves-light light-blue darken-2">Atualizar Evento</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>