<div class="card horizontal">
	<div class="card-image" style="width: 250px; height: 270px;">
		<img materialboxed style="width: 250px; height: 270px;" class="materialboxed responsive-img" ng-src="{{$ctrl.photos[0] || '../../libs/img/location.jpg' }}">
	</div>
	<div class="card-stacked">
		<div class="card-content">
			<span class="card-title light-blue-text">{{$ctrl.name}}</span>
			<p>{{$ctrl.mapsUrl}}</p>
			<p style="font-family: monospace;"><span style="font-size: larger;font-family: monospace;">Endereço:</span> {{$ctrl.adress}}</p>
			<p style="font-family: monospace;"><span style="font-size: larger;font-family: monospace;">Telefone:</span> {{$ctrl.phone}}</p>
			<p style="font-family: monospace;"><span style="font-size: larger;font-family: monospace;">Site:</span> {{$ctrl.site}}</p>
			<p style="font-family: monospace;"><span style="font-size: larger;font-family: monospace;">Distância:</span> {{$ctrl.distance}} KM</p>
			<p star-rating ng-model="$ctrl.rating" max="5"></p>
		</div>
		<div class="card-action">
			<a ng-href="{{$ctrl.mapsUrl}}"> <i class="material-icons">maps</i></a>
			<a data-target='demoModal' modal><i class=" material-icons">comment</i></a>

		</div>
	</div>
</div>

<!-- Modal Structure -->
<div id="demoModal" class="modal modal-fixed-footer" style="overflow-y: hidden">
	<div class="modal-content">
		<h4>Comentarios</h4>
		<div>
			<ul class="collapsible popout" data-collapsible="accordion" watch>
				<li ng-repeat="review in $ctrl.reviews">
					<div class="collapsible-header"><i class="material-icons">assignment_ind</i> {{review.author_name}}</div>
					<div class="collapsible-body">
						<p style="padding: 0.3em;">{{review.message}}</p>
						<p style="padding: 0.3em;" ng-disabled="true" star-rating ng-model="review.rating" max="5"></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="input-field col l7 m7 s7 ">
				<input type="text" ng-model="$ctrl.comment" style="margin: 0px; height: 1em" />
			</div>
			<div class="col l3 m3 s3">
				<p star-rating ng-model="$ctrl.sendRating" max="5"></p>
			</div>
			<div class="col l2 m2 s2">
				<button ng-click="$ctrl.sendComment()" class="modal-action waves-effect waves-green btn-flat">Comentar</button>
			</div>
		</div>
	</div>
</div>