<div class="card row animated zoomIn">
	<div class="col l6 s7 m6" style="padding: 0px 0px ">
		<img class="image-responsive"  ng-src="{{$ctrl.photos[0] || '../../libs/img/location.jpg' }}">
	</div>
	<div class="card-content col l6 s5 m6" style="padding: 0px">
		<div>	
			<p class="title-card">{{$ctrl.name}}</p>
		</div>
		<div class="card-balada">
			<p class="card-description">{{$ctrl.description}}</p>
		</div>
		<div class="card-balada-bottom">	
			Aberto de:<span style="color: blue" ng-repeat="day in $ctrl.days">
				{{day}}
			</span>à apenas: {{$ctrl.distance}} KM
			<p class="start-hidden" star-rating ng-model="$ctrl.rating" max="5"></p>
			<a class="icon-balada-bottom" tooltipped data-position="right" data-delay="550" data-tooltip="{{$ctrl.phone}}"><i class="material-icons">phone</i></a>
			<a class="icon-balada-bottom" data-target='demoModal' modal><i class=" material-icons">comment</i></a>
			<a class="icon-balada-bottom" ng-href="{{$ctrl.mapsUrl}}"> <i class="material-icons">place</i></a>
			<a class="icon-balada-bottom" ng-href="{{$ctrl.site}}"> <i class="material-icons">public</i></a>
		</div>
	</div>
</div>

<!-- Modal Structure -->
<div id="demoModal" class="modal modal-fixed-footer" style="overflow-y: hidden">
	<div class="modal-content">
		<h4>Comentarios</h4>
		<div>
			<ul class="collapsible popout" data-collapsible="accordion" watch>
				<li ng-repeat="review in $ctrl.reviews">
					<div class="collapsible-header"><i class="material-icons">assignment_ind</i> {{review.author_name}}</div>
					<div class="collapsible-body">
						<p style="padding: 0.3em;">{{review.message}}</p>
						<p style="padding: 0.3em;" ng-disabled="true" star-rating ng-model="review.rating" max="5"></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="input-field col l7 m7 s7 ">
				<input type="text" ng-model="$ctrl.comment" style="margin: 0px; height: 1em" />
			</div>
			<div class="col l3 m3 s3">
				<p star-rating ng-model="$ctrl.sendRating" max="5"></p>
			</div>
			<div class="col l2 m2 s2">
				<button ng-click="$ctrl.sendComment()" class="modal-action waves-effect waves-green btn-flat">Comentar</button>
			</div>
		</div>
	</div>
</div>