<div class="row">
    <div class="col offset-l2 offset-m1 l8 m10 s12">
        <div class="card">
            <div class="card-content" style="padding: 10px 20px">
                <input  type="text" style="width: 81%;" placeholder="Procurar eventos"/>
                <button type="button" ng-click="vm.createEvent()" style="margin-top: 12px;" class="btn waves-effect waves-light light-blue darken-2">Criar Evento</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col offset-l3 offset-m1  l6 m10 s12">
        <div ng-repeat="event in vm.events">
            <div class="card horizontal">
                <div class="card-image">
                    <img materialboxed class="materialboxed responsive-img" width="650" ng-src="{{event.banner || '../../libs/img/padrao.png' }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title light-blue-text">{{event.name}}</span>
                        <p>{{event.type}}</p>
                        <p>{{event.dateEvent}}</p>
                        <p>{{event.description}}</p>
                        <p>{{event.artists}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>