<div>
	<nav class="white">
		<div class="row">
			<div class="col offset-l3 offset-m3 l6 s6 m6">
				<input type="text" id="search" placeholder="Pesquisar" ng-model="place.nome" style="background-color: aliceblue;color: black;" />
			</div>
			<div class="col l3 s6 m3">
      			<md-slider class="md-warn" style="min-width: 0px; margin-top: 12px;" flex md-discrete ng-model="vm.radius" ng-change="vm.changeRadius()" step="10" min="10" max="100" aria-label="rating"></md-slider>
			</div>
		</div>
	</nav>
</div>
<div class="row">
	<div class="col offset-l2 offset-m1  l8 m10 s12">
		<div ng-repeat="place in vm.locations | filter: place.nome">
			<balada 
				id="place._id"
				name="place.name"
				adress="place.adress"
				phone="place.phone"
				rating="place.rating"
				site="place.site"
				mapa="place.mapsUrl"
			    days="place.days" 
				reviews="place.reviews"
				photos="place.photos"
				locationuser="vm.location"
				location="place.location"
				description="place.description"
				>
			</balada>
		</div>
	</div>
</div>