<div class=" row container" style="width: 95%;margin-bottom: 0px;">
    <div class="card row animated zoomIn">
        <div class="col l12 m12 s12" style="padding: 0px 0px;">
            <div class="col l4 s6 m4" style="padding: 0px 0px ">
                <img class="image-responsive" ng-src="{{vm.place.photos[0] || '../../libs/img/location.jpg' }}">
            </div>
            <div class="col l8 s6 m8" style="text-align:center">
                <span style="text-align: center; font-size: 27px; margin-bottom: 30px">{{vm.place.name}}</span>
                <p>{{vm.place.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class=" row container animated lightSpeedIn" style="width: 95%; margin-bottom: 0px;">
    <div class="card row">
        <div class="col l12 m12 s12" style="padding: 0px 0px; text-align:center">
            <span class="event-title" style="color:#0288d1"> Eventos</span>
        </div>
    </div>
</div>

<div class=" row container" style="width: 95%">
    <div class="animated lightSpeedIn" ng-repeat="item in vm.events track by $index">

        <div class="card row">
            <div class="col l12 m12 s12" style="padding: 0px 0px;">
                <div class="col l4 s6 m4" style="padding: 0px 0px ">
                    <img class="image-responsive" ng-src="{{item.banner || '../../libs/img/location.jpg' }}">
                </div>
                <div class="col l7 s4 m6" style="text-align:center">
                    <span style="text-align: center;font-size: 22px;">{{item.name}}</span>
                    <div class="event-content">
                        <p>Tipos de Evento:
                            <span style="color: blue" ng-repeat="type in item.type">
                        {{type}}
                    </span>
                        </p>
                        <p>Data: {{item.dateEvent}}</p>
                        <p class="event-none">Descrição: {{item.description}}</p>
                        <p class="event-none">Artistas:
                            <span style="color: blue" ng-repeat="artist in item.artists">
                                {{artist}}
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col l1 s2 m2" style="text-align:center">
                    <p class="place-event-icon">
                        <a ng-href="" tooltipped data-position="top" data-delay="10" data-tooltip="Favorito">
                            <i class="material-icons">favorite</i>
                        </a>
                    </p>
                    <p class="place-event-icon">
                        <a ng-href="" tooltipped data-position="top" data-delay="10" data-tooltip="Eu vou">
                            <i class="material-icons">check</i>
                        </a>
                    </p>
                    <p>
                        <a ng-href="" tooltipped data-position="top" data-delay="10" data-tooltip="Não vou">
                            <i class="material-icons">close</i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>