<div class=" row container" style="width: 95%">
    <div class="card animated zoomIn">
        <div class="col l4 s6 m4" style="padding: 0px 0px ">
            <img class="image-responsive" ng-src="{{vm.place.photos[0] || '../../libs/img/location.jpg' }}">
        </div>
        <div class="col l8 s6 m8">
        <span style="text-align: center; font-size: 30px; margin-bottom: 30px">{{vm.place.name}}</span>
            <p>{{vm.place.description}}</p>
            <div class="card-balada-bottom">
                <a class="icon-balada-bottom" tooltipped data-position="right" data-delay="550" data-tooltip="{{vm.place.phone}}"><i class="material-icons">phone</i></a>
                <a class="icon-balada-bottom" data-target='demoModal' modal><i class=" material-icons">comment</i></a>
                <a class="icon-balada-bottom" ng-href="{{vm.place.mapsUrl}}"> <i class="material-icons">place</i></a>
                <a class="icon-balada-bottom" ng-href="{{vm.place.site}}"> <i class="material-icons">public</i></a>
            </div>
        </div>

        <div class="row">
            <div class="col offset-l2 offset-m1  l8 m10 s12">
                <balada name="vm.place.name" adress="vm.place.adress" phone="vm.place.phone" rating="vm.place.rating" site="vm.place.site"
                    mapsUrl="vm.place.mapsUrl" days="vm.place.days" reviews="vm.place.reviews" photos="vm.place.photos" description="vm.place.description"></balada>
            </div>
        </div>

        <div class="row">
            <div class="col offset-l2 offset-m1  l7 m10 s12">
                <div ng-repeat="item in vm.events | filter: vm.events.item.name track by $index">
                    <div class="card row animated zoomIn">
                        <div class="col l6 s7 m6" style="padding: 0px 0px ">
                            <img class="image-responsive" ng-src="{{item.banner || '../../libs/img/location.jpg' }}">
                        </div>
                        <div class="card-content col l6 s5 m6" style="padding: 0px">
                            <P class="event-title">{{item.name}}</P>
                            <div class="event-content">
                                <p>Tipos de Evento:
                                    <span style="color: blue" ng-repeat="type in item.type">
                            {{type}}
                        </span>
                                </p>
                                <p>Data: {{item.dateEvent}}</p>
                                <p class="event-none">Descrição: {{item.description}}</p>
                                <p class="event-none">Artistas:
                                    <span style="color: blue" ng-repeat="artist in item.artists">
                                    {{artist}}
                                </span>
                                </p>
                            </div>
                            <div style="display:block;padding: 0px;">
                                <a class="eventButton col l6 s6 m6" ui-sref="main.event.edit({ eventId: '{{item._id}}' })">Editar</a>
                                <a class="eventButton col l6 s6 m6" ui-sref="main.event.delete({ eventId: '{{item._id}}' })">Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>