<div class=" row container">
  <div class="col l12 m12 s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title activator flow-text center blue-text text-darken-2">Profile</span>
        <form ng-submit="vm.updateProfileCompany()" enctype="multipart/form-data">
          <div class="row">
            <div class="col l12 m12 s12 center">
              <img class="circle" style="width: 20%" ng-src="{{vm.company.picture || '../../libs/img/profile.jpg'}}">
            </div>
          </div>
          <div class="row">
            <div class="center">
              <button data-target='photoModal' modal class="btn waves-effect waves-light light-blue darken-2">Atualizar foto</button>
            </div>
          </div>
          <div class="input-field col l6 ">
            <label class="control-label">nome</label>
            <input type="text"  ng-model="vm.company.name" />
          </div>
          <div class="input-field col l6">
            <label class="control-label">Email</label>
            <input type="text" ng-disabled="true" ng-model="vm.company.email" />
          </div>
          <div class="input-field col l6">
            <label class="control-label">Logradouro</label>
            <input type="text" ng-model="vm.company.adress" />
          </div>
          <div class="input-field col l6">
            <label class="control-label">bairro</label>
            <input type="text" ng-model="vm.company.country" />
          </div>
          <div class="input-field col l6">
            <select class="" ng-model="vm.company.uf" material-select watch>
              <option ng-repeat="value in vm.uf">{{value}}</option>
            </select>
        </div>
          <div class="input-field col l6">
            <label class="control-label">telefone</label>
            <input type="number" ng-model="vm.company.phone" />
          </div>
          <div class="input-field col l6">
            <label class="control-label">Dias de funcionamento</label>
            <input type="text" ng-model="vm.company.days" />
          </div>
          <div class="input-field col l6">
            <label class="control-label">Media de preço dos drinks da casa</label>
            <input type="text" ng-model="vm.company.drinkPrice" />
          </div>
          <div class="input-field col l6">
            <label class="control-label">site</label>
            <input type="text" ng-model="vm.company.site" placeholder="http://www.site.com.br" />
          </div>
          <div class="input-field col l6">
            <label class="control-label">Url google Maps</label>
            <input type="text" ng-model="vm.company.mapsUrl" placeholder="https://www.google.com.br/maps/place/Exemplo" />
          </div>
          <div class="center">
            <button type="submit" class="btn waves-effect waves-light light-blue darken-2">Atualizar Cadastro</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="photoModal" class="modal">
  <div class="modal-content">
    <div class="center">
    <h4>Fotos da Empresa</h4>
    </div>
    <div class="file-field input-field">
      <div class="btn light-blue darken-2">
        <span>Photo</span>
        <input type="file"  ngf-select ng-model="vm.company.file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Enviar foto">
      </div>
    </div>
    <div class="center">
    <button ng-click="vm.uploadPhoto()" ng-disabled="!vm.company.file" class="modal-action modal-close waves-effect waves-green btn light-blue darken-2">Enviar</button>
  </div>
  </div>
</div>