<div class=" row container">
  <div class="col l12 m12 s12">
    <div class="card animated zoomIn">
      <div class="card-content">
        <span class="card-title activator flow-text center blue-text text-darken-2">Profile</span>
        <form ng-submit="vm.updateProfile()" enctype="multipart/form-data">
          <div class="row">
            <div class="col l12 m12 s12 center">
              <img class="circle" style="width: 20%" ng-src="{{vm.user.picture || '../../libs/img/profile.jpg'}}">
            </div>
          </div>
          <div class="row">
            <div class="center">
              <button data-target='photoModal' modal class="btn waves-effect waves-light light-blue darken-2">Atualizar foto</button>
            </div>
          </div>
          <div class="input-field col l6 m6 s6 ">
            <label for="email" class="control-label">Email</label>
            <input id="email "type="text" style="color: black" ng-disabled="true" ng-model="vm.user.email" />
          </div>
          <div class="input-field col l6 m6 s6">
            <label for="genre" class="control-label">Sexo</label>
            <input id="genre" type="text" ng-disabled="true" ng-model="vm.user.genre" />
          </div>
          <div class="input-field col l6 m6 s6">
            <label for="name" class="control-label">Nome</label>
            <input id="name" type="text" ng-model="vm.user.name" />
          </div>
          <div class="input-field col l6 m6 s6">
            <label for="age" class="control-label">Idade</label>
            <input id="age" type="number" ng-model="vm.user.age" />
          </div>
          <div class="input-field col l12 m12 s12">
            <select ng-model="vm.user.preference" material-select multiple watch>
                <option value="" disabled selected>Exemplo: Rock</option>
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="funk">Funk</option>
                <option value="Electronica">Electronica</option>
                <option value="MPB">MPB</option>
                <option value="Jazz">Jazz</option>
                <option value="Rap">Rap</option>
                <option value="Hip hop">Hip hop</option>
            </select>
            <label>Gostos Musicais</label>
          </div>

          <div class="center">
            <button type="submit" ng-disabled="!vm.user.age" class="btn waves-effect waves-light light-blue darken-2">Atualizar Cadastro</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="photoModal" class="modal">
  <div class="modal-content">
    <div class="center">
    <h4>Foto</h4>
    </div>
    <div class="file-field input-field">
      <div class="btn light-blue darken-2">
        <span>Foto</span>
        <input type="file"  ngf-select ng-model="vm.user.file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one photo">
      </div>
    </div>
    <div class="center">
    <button ng-click="vm.uploadPhoto()" ng-disabled="!vm.user.file" class="modal-action modal-close waves-effect waves-green btn light-blue darken-2">Enviar</button>
  </div>
  </div>
</div>